<div class="page-header">
  <% child = Child.find_by(:id => cookies[:child_id]) %>
  <h3><%= child.name %>'s Wellness Entry for <%= @symptom.date.strftime('%b %e, %Y') %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @symptom.date.strftime('%b %e, %Y') %></dd>

      <dt>Fever</dt>
      <dd><% if @symptom.fever == true %>
        <i class="fa fa-check short-center" aria-hidden="true"></i>
        <% end %>
      </dd>

      <dt>Cough</dt>
      <dd><% if @symptom.cough == true %>
        <i class="fa fa-check short-center" aria-hidden="true"></i>
        <% end %>
      </dd>

      <dt>Diahrrea</dt>
      <dd><% if @symptom.diahrrea == true %>
        <i class="fa fa-check short-center" aria-hidden="true"></i>
        <% end %>
      </dd>

      <dt>Other</dt>
      <dd><%= @symptom.other %></dd>

      <dt>None</dt>
      <dd><% if @symptom.none == true %>
        <i class="fa fa-check short-center" aria-hidden="true"></i>
        <% end %>
      </dd>







    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/symptoms" class="btn btn-primary">
        Back
      </a>
      <a href="/symptoms/<%= @symptom.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_symptom/<%= @symptom.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
