
<% child = Child.find_by(:id => cookies[:child_id]) %>
<% if child == nil %>
<div class="page-header">
  <h1>Select a child in the nav bar to begin</h1>
</div>
<% else %>
<h1>
  <div class="page-header">
    <%= child.name %>'s Dashboard
  </h1>
</div>

<div class="container">
  <div class="row">
    <!-- Box for Nutrition summary -->
    <div class="col-md-6">
      <h3><a href="/foods">Nutrition</a></h3>
      <h5>Average Daily Servings</h5>
      <a href="/foods">
      <%= pie_chart({:fat=>@avg_fat, :dairy=>@avg_dairy, :protein=>@avg_protein, :vegetable=>@avg_vegetable, :fruit=>@avg_fruit, :grain=>@avg_grain}) %>
    </a>
    </div>

    <!-- Box for Vocabulary summary -->
    <div class="col-md-6">
      <h3><a href="/words">Vocabulary</a></h3>
      <dt>Number of words: <%= child.words.count %></dt>
      <a href="/words">
      <%= line_chart @words.group(:created_at).count %>
    </a>
    </div>
  </div>

  <div class="row">
    <!-- Box for Wellness summary -->
    <div class="col-md-6">
      <h3><a href="/symptoms">Wellness</h3>
      </a>
    </div>

    <!-- Box for Sleep summary -->
    <div class="col-md-6">
      <h3> <a href="/sleeps">Sleep</h3>
        <div class="col-md-5">
          <h5>Nighttime Sleep</h5>
          <%= pie_chart @sleeps.group(:night_sleep).count %>
        </div>
        <div class="col-md-5">
          <h5>Daytime Sleep</h5>
          <%= pie_chart Sleep.group(:day_sleep).count %>
        </div>

      </a>
    </div>
  </div>
</div>

<% end %>
