<div class="page-header">
  <% child = Child.find_by(:id => cookies[:child_id]) %>
  <h1>
    Children
    <a href="/children/new" class="btn btn-lg btn-success">New Child</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Dob</th>

        <th>Actions</th>
      </tr>

      <% current_user.children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.gender %></td>
        <td><%= child.dob.strftime('%b %e, %Y') %></td>

        <td>
          <a href="/children/<%= child.id %>" class="btn btn-primary">Show</a>
          <a href="/children/<%= child.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_child/<%= child.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
